body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color:ligh;
}

.container {
    margin-top: 50px;
}

input, button {
    padding: 10px;
    margin: 5px;
}

#weatherInfo {
    border: 1px solid black;
    margin-top: 20px;
    font-size: 18px;
    background-image: linear-gradient(to right,lightblue, #007b97); 
}

.weather-icon {
    width: 50px; /* Adjust size as needed */
    height: 50px;
    margin-right: 10px;
    vertical-align: middle;
}

#forecastInfo {
    border-style: solid;
    border: 1px solid black;
}

.forecast-item {
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right,lightblue, #007b97); 
}

.forecast-item img {
    margin-right: 15px;
}

#loadingIndicator {
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

#grad1 {
    height: 100vh;
    background-color: lightblue;
    background-image: linear-gradient(white, lightblue);}


#glass {
    height: 1vh;
    width: 1vh;
}

#title {
    margin: 0%;
    height: 10vh;
    background-image: linear-gradient(to right,lightblue, #007b97); 
}

